@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #000;
}

.red-gradient {
  background: linear-gradient(92deg, #f156ffb2 2.87%, #930ca0b2 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(167 139 250);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 