@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'), url(../public/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'), url(../public/fonts/Inter/static/Inter-Regular.ttf) format('truetype');
}

* {
  scrollbar-width: none;
  scrollbar-color: #8f54a0 #b0abab;
}

body {
  background-color: #000;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #0F1117;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b21a8 ;
  border-radius: 0px;
  border: 3px none #ffffff;
}


.poppins-regular {
  font-family: 'Inter-Regular';
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.violet-gradient {
  background: linear-gradient(92deg, #6b21a8 2.87%, #930ca0b2 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-animation {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  overflow: hidden;
  /* z-index: 0; */
}

.logo-animation li {
  position: absolute;
  bottom: -2rem;
  width: 30px;
  height: 30px;
  animation: logo 15s infinite;
  transition-timing-function: linear;
}
.logo-animation li:nth-child(1) {
  left: 15%;
}
.logo-animation li:nth-child(2) {
  left: 40%;
  animation-delay: 5s;
  animation-duration: 5s;
}
.logo-animation li:nth-child(3) {
  left: 25%;
  animation-delay: 2s;
  animation-duration: 4s;
}
.logo-animation li:nth-child(4) {
  left: 10%;
  animation-delay: 4s;
  animation-duration: 6s;
}
.logo-animation li:nth-child(5) {
  left: 25%;
  animation-delay: 3s;
  animation-duration: 5s;
}
.logo-animation li:nth-child(6) {
  left: 15%;
  animation-delay: 1s;
  animation-duration: 12s;
}
.logo-animation li:nth-child(7) {
  left: 5%;
  animation-delay: 4s;
  animation-duration: 8s;
}
.logo-animation li:nth-child(8) {
  left: 30%;
  animation-delay: 2s;
  animation-duration: 10s;
}
.logo-animation li:nth-child(9) {
  left: 20%;
  animation-delay: 3s;
  animation-duration: 3s;
}
.logo-animation li:nth-child(10) {
  left: 18%;
  animation-delay: 4s;
  animation-duration: 15s;
}


@keyframes logo {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(0eg);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-800px) rotate(-180deg);
  }
  
}

:root {
  color-scheme: dark;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(167 139 250);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 